/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

/* HEADER - TOP */

.header-top {
    padding: 20px;
    background-color: #255EE9;
}

.items-header {
    max-width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-header>* {
    padding: 10px;
}


.link {
    flex-basis: 60%;
    text-align: center;
}

.link ul>li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.link+a {
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-radius: 20px;
}

/* HEADER-BOTTOM */

.header-bottom {
    padding: 60px;
    background-image: url("..//img/jumbo.png");
    background-size: cover;
}

.box-1stView {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 100px;
}


.box-1stView h1 {
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    color: white;
}

h1+p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.box-1stView a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.box-1stView a:first-of-type {
    margin-right: 20px;
    background-color: white;
    padding: 10px 20px;
}

a span {
    font-size: 20px;
}

.box-1stView a:last-child {
    margin-left: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

/* MAIN */

/* SECTION 1*/

main .container section>* {
    display: flex;
    padding: 50px;
    width: 75%;
    margin: auto;
}

.sec1-col_left {
    flex-basis: 65%;
    height: 600px;
}

.sec1-col_right {
    flex-basis: 45%;
    height: 600px;
    text-align: left;
    padding-top: 40px;
}

.sec1-col_right>h2 {
    font-size: 45px;
}

h2+p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

/* SECTION 2 */

main section:nth-child(2) {
    background-color: #D3D3D3;
}

.box-section_2 {
    flex-direction: row-reverse;
}

/* SECTION 4 */

main section:last-child {
    background-color: #D3D3D3;
}

.green {
    background-color: green;
    width: 100%;
    height: 1000px;
    margin: auto;
    border: 2px dashed black;
}

/* FOOTER */

/* FOOTER - TOP */

.footer-top,
.footer-bottom {
    background-color: #23272A;
}

.columns-box {
    margin: auto;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 75%;
    height: 600px;
    display: flex;
}

.left-column {
    background-color: #F08080;
    width: calc((100% / 4) * 2);
    border: 2px dashed black;
}

.right-columns {
    width: 100%;
    display: flex;
    border: 2px dashed black;
}

.right-columns>* {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

hr {
    border: 1px solid white;
}

/* FOOTER SECONDA SEZIONE  */

.footer-bottom {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-bottom>div {
    width: 75%;
    margin: auto;
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
}

.logo-end,
.logo-end+div {
    margin: 20px 0;
    padding: 10px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}